@import "normalize";
@import "standard";
@import "variables/global";
@import "thems/light";
@import "thems/dark";
@import "thems/blood";

body {
  font: var(--font-m);
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--primary-color);
}

.content-page {
  display: flex;
}

