@import "normalize";
@import "standard";
@import "variables/global";
@import "thems/light";
@import "thems/dark";

.app,
.app_modal {
  font: var(--font-m);
  font-family: Montserrat, sans-serif;
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--primary-color);
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
