@import "normalize";
@import "standard";
@import "variables/global";
@import "thems/light";
@import "thems/dark";
@import "thems/blood";

body {
  font: var(--font-m);
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--primary-color);
}

.content-page {
  display: flex;
}

.page-wrapper {
  height: calc(100vh - var(--navbar-heigth));
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}
