.Button {
  color: var(--invert-primary-color);
  cursor: pointer;
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}
.error {
  padding: 5px 10px;
  border: 1px solid black;
  background: transparent;
  border-radius: 5px;
  outline: none;
}
