.Sidebar {
  position: relative;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-heigth));
  background: var(--invert-bg-color);
  transition: width 0.3s;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.collapseBtn {
  position: absolute;
  z-index: 100;
  right: -32px;
  bottom: 32px;
}

.items {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 30px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
    align-items: center;
  }

  .item {
    display: none;
    width: 0;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.2s, width 0.1s ease 0.4s;
  }
}
