.InputWrapper {
  display: flex;
}

.placeholder {
  margin-right: 5px;
}

.input {
  border: none;
  background: transparent;
  color: transparent;
  outline: none;
  text-shadow: 0 0 0 var(--primary-color);

  &:focus {
    outline: none;
  }
}

.caretWrapper {
  position: relative;
  flex-grow: 1;
}

.caret {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 9px;
  height: 3px;
  animation: blink 0.7s forwards infinite;
  background-color: var(--primary-color);
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.05;
  }

  100% {
    opacity: 1;
  }
}
