.app_blood_theme {
  --bg-color: #38756e;
  //--invert-bg-color: #f4fbfa;
  --invert-bg-color: #f400fa;
  --primary-color: #aaa32b;
  --secondaty-color: #706d26;
  --invert-primary-color: #375955;
  --invert-secondaty-color: #1c3b37;
}
