.app_dark_theme {
  --bg-color: #262654;
  --invert-bg-color: #8b8b8b;
  --primary-color: #04ff04;
  --secondaty-color: #049604;
  --invert-primary-color: #4366d0;
  --invert-secondaty-color: #0449e0;

  // skeleton
  --skeleton-color: #48489a;
  --skeleton-shadow: #264ea4;

  // code
  --code-bg: #333379;
}
