.ProfileCard {
  padding: 20px;
  border: 2px solid var(--invert-bg-color);
  color: var(--primary-color);
  transition: border 0.3s ease-in-out;
}

.editind {
  border: 2px solid var(--invert-primary-color);
}

.loading,
.error {
  height: 300px;
}

.avatar {
  width: fit-content;
  max-height: 150px;
}
