.Tabs {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 8px;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  font: var(--font-m);
  text-align: center;
}
